/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

/* Calculator CSS */

.calculator {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.input-section {
  margin-bottom: 15px;
}

.input-section label {
  display: block;
  margin-bottom: 5px;
  color: black !important;
}

input[type='number'] {
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #022bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-section {
  margin-top: 20px;
  font-size: 18px;
}

/* bg-img */
.home {
  background: url(../img/bg.webp) center/cover no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
}

.container-fluid .not-found-img {
  width: 50%;
}

.container-fluid .not-found-container {
  display: flex;
  justify-content: center;
}

/* Navbar */
.navbar {
  flex-wrap: nowrap;
  background-color: rgb(61 61 59 / 55%);
}

.navbar>.navbar-brand {
  margin-left: 2rem;
}

.navbar>.navbar-brand>strong {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-full {
  background: url(../img/logo-full.png) center/cover no-repeat;
  display: inline-block;
  width: 180px;
  height: 30px;
  filter: drop-shadow(2px 4px 10px black);
}

.nav-link.disabled {
  color: white;
}

.graph-design {
  color: blueviolet;
  font-family: monospace;
  font-weight: 700;
  /* text-shadow: 2px 1px 3px black; */
}

.predicTrend {
  overflow: auto;
}

.predicTrend img {
  overflow-x: auto;
  object-fit: contain;
  background-position: left;
}

/* Dashboard Objectives */
.objective img {
  box-shadow: 0 0 8px 4px #00000063;
  width: 100%;
  position: relative;
  z-index: -1;
}

/* Dashboard Objectives */
.model-images {
  display: flex;
  align-items: center;
  gap: 20px;
}

.model-images img {
  width: 300px;
  height: fit-content;
  /* box-shadow: 0 0 8px 4px #00000063; */
}

/* Device List */
.card-body {
  justify-content: space-around;
  gap: 10px;
}

.card-body .card {
  padding: 10px;
}

.card-body .card h5 {
  margin: 0% !important;
}

/* Gauge Meter CSS */
.gauge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gauge-container .gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .calculator {
    width: 90% !important;
    max-width: none !important;
  }

  .container-fluid .not-found-img {
    width: 100%;
  }

  .model-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 440px) {
  .navbar .logo-full {
    width: 100px;
    height: 18px;
  }

  .navbar>.navbar-brand {
    margin: 0;
  }
}

@media only screen and (min-width:768px) {
  .sidebar{
    min-height: 100vh;
  }
}